<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" [formControlName]="'title'">
            <span class="help-block" style="color: palevioletred;"
              *ngIf="noteForm.get('title').invalid && noteForm.get('title').touched">
              Title is required!
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="content">Text</label>
            <textarea type="text" id="content" class="form-control" rows="10" [formControlName]="'content'">
                </textarea>
            <span class="help-block" style="color: palevioletred;"
              *ngIf="noteForm.get('content').invalid && noteForm.get('content').touched">
              Enter some text, please!
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="noteForm.invalid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onClear()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
